:root{
--glow: orange;
--letters: yellow;
--titles: rgb(9, 238, 9);
}
html{
    scroll-behavior: smooth;
    background-color: darkslateblue;
    color: wheat;
}

header{
    text-align: left;
    color: wheat;
    background-color: darkblue;
    
}
span {
  font-style: italic;

}
nav{
  font-family: 'Times New Roman', Times, serif;
  display:inline-flex;
  float: right;
  font-size: 20px;
}
ul{
    list-style-type: none;
}
a:link{
    text-decoration: none;
   
    margin-left: 15 px;
    flex: right;
}
li{
    margin-left:15px;
    display: inline-block;
}
li:hover{
  color:orange;
  background-color: blue;
}
.box:hover{
    transition: all 2s;
    box-shadow: inset 0px 0px 8px var(--glow), 0 0 15px var(--glow);
}
h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}
h2{
    text-align: center;
    margin-top: 20px;
    border-radius: 50px;

}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
  }

.Ahriman{
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;


}  
.img2{
    max-width: 400px;
    max-height: 400px;
    border-radius: 50px;    
  }
.examples {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin:25px;

}
  .box {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #0c0c0c;
    margin: 20px;
    text-align: center;
  }  
section h2{
    padding: 20px;
    Color: blue;
    font-weight: bold;
    font-size: 18px;

  }
  footer {
    text-align: center;
    text-decoration: none;
    margin: 50px 0 100px 0;
    color: wheat;

  }
  