.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .pictureme {
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    max-width: 200px;
    max-height: 200px;
  
  
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }